@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><strong><u>Welcome To Our Game Store</u></strong></h1>
    <img src="~/images/carl-raw-8gdayy2lhi0-unsplash.jpg" />
</div>
