@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>!!! Cart !!!</title>
</head>
<body>
    <h1>Customer Cart Page</h1>
    <p>Showing what game(s) they chose to purchase with option to continue to checkout</p>
    <a asp-controller="Home" asp-action="Index">Back</a>
</body>
</html>
