@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />

    <title>!!! Gaming Store GAMES !!!</title>
</head>
<body>
    <h2>List of Available Games</h2>
    <h4>Game Information:</h4>
    <ul>
        <li>Title: </li>
        <li>About: </li>
        <li>Developed By: </li>
        <li>Price: $</li>
    </ul>
    <br />
    <div>
        <a asp-controller="Home" asp-action="Index">Back</a>
    </div>
</body>
</html>
